<nav>
    <div class="site-title">
        
        <a href="/"><h1>anu arkive</h1></a>
        <p>here and before</p>
    </div>
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/blogs/create">create</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</nav>