<html lang="en"></html>
    <html>
        <%- include('./partials/head.ejs')%>

    <body>
        <%-  include('./partials/nav.ejs')  %>

        <div class="about content">
            <h2>ABOUT</h2>
            <p>Je vois que beaucoup de gens meurent parcequ’ils estiment que la vie ne vaut pas la peine d’être vécue et j’en vois d’autres qui se font paradoxalement tuer, pour les idées, les illusions qui leurs donnent une raison de vivre. Ce qui peut être une raison de vivre est en même temps une excellente raison de mourir. </p>
            <p>D’un gérant d’immeuble qui s’était tué on disait qu’il avait perdu sa fille depuis Cinq ans, qu’il avait beaucoup changé et que cette histoire l’avait « miné </p>
            <p>Des souvenirs d’une patrie perdue, de l’espoir d’une terre promise, ce divorce entre l’homme de sa vie… </p>
        </div>
        <%-  include('./partials/footer.ejs')  %>

    </body>
    </html>