<html lang="en"></html>
    <html>
        <%- include('./partials/head.ejs')%>

    <body>
        <%-  include('./partials/nav.ejs')  %>

        <div class="about content">
            <h2>Contact</h2>
        <p>linkedin:
            <i><a href="https://www.linkedin.com/in/ananya-gupta-798957245/" target="_blank" style="color: rgb(247, 240, 42);">connect with me here </a></i>

        </p>    
        <p>email:gupta.ananya@protonmail.com</p>
        </div>
        <%-  include('./partials/footer.ejs')  %>

    </body>
    </html>